<!--footer section-->
<div class="hr"></div>
<footer>
        <div class="footer">
            <div class="border"></div>
            <div class="copyright">
                <div>© 2025 Hoogle. All rights reserved.</div>
                <div>Developer : Harshvardhan Raj</div>
                <div>Powered by Node.js, Express & APIs.</div>
            </div>
            <div class="info">
                <div>This project is created for learning and demonstration purposes. </div>
                <div>It showcases how Express.js, EJS, and public APIs
                    can be combined to build a modern web application.</div>
                <div>Inspired by the simplicity of Google, re-imagined as Hoogle.</div>
                <div>Hoogle is not affiliated with Google. It is an independent project built using Pixabay and Wikipedia APIs.
                </div>
                <div>"Sign Up" and "Learn About" buttons are for showcase only and do not function.</div>
                <br><br>
            </div>
        </div>
    </footer>