<!--header section-->
<header>
        <div class="nav">
            <div class="logo">
                <span><img src="/h-logo.png" alt="h-logo" height="70px"></span>
                <h1>hoogle</h1>
            </div>
            <div class="social">
                <a href="https://github.com/the-hvr"><i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/the-hvr?utm_source=share_via&utm_content=profile&utm_medium=member_android"><i class="fa-brands fa-square-linkedin"></i></a>
            </div>
        </div>

    </header>
